* {
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
 }
 header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(146deg, #ffbd00, #ef7122);
    display: flex;
    align-items: center;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }

.Navigation{
    height: 400px; 
    text-align: center; 
    background-color:white;
}

.content{
    height:1200px;
    background-color:#cccccc;
    text-align: center;
    margin: 10px 0 10px 0;
    width:700px;
}

.container {
   width:300px;
   margin:0 auto;
}
.card{
   width: 288px;
   height: auto;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 15px rgba(0,0,0,.2)
 }
 
 .card__imgframe{
   width: 100%;
   height: auto;
   padding-top: 56.25%;
   background:#e6e6e6;
   box-sizing: border-box;
 }
 
 .card__textbox{
   width: 100%;
   height: auto;
   padding: 20px 18px;
   background: #fff;
   box-sizing: border-box;
 }
 
 .card__textbox > * + *{
   margin-top: 10px;
 }
 
 .card__titletext{
   font-size: 20px;
   font-weight: bold;
   line-height: 125%;
 }
 
 .card__overviewtext{
   font-size: 12px;
   line-height: 150%;
 }

.footer{
    height: 70px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(146deg, #ffbd00, #ef7122);
}