* {
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
 }
 header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(146deg, #ffbd00, #ef7122);
    display: flex;
    align-items: center;
 }
 main {
    margin: 100px auto;
 }

 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }

 .pagenate {
   width: 80%;
   margin: 0 auto;
   max-width: 130px;
 }

 .navigation{
   padding: 10px 310px ; 
   text-align: center; 
   text-decoration-color: black;
   background-color:white;
}

.navigation h1{
   margin-top:220px;
   font-size:30px;
   opacity: 0.9;
}
.content{
    height:1300px;
    background-color:#cccccc;
    text-align: center;
    margin-top:20px ;
    width:100%;
}

.content h2 {
   margin-top:30px;
}
.container {
   width:1000px;
   height:100%;
   display: flex;
   flex-wrap : wrap;
   margin-right: auto;
   margin-left : auto;
   justify-content: space-between;
}

.profiles　{
   /* position: relative; */
   /* width:300px;
   height: 300px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 15px rgba(0,0,0,.2) */
}

 .container a {
   /* position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-indent:-999px; */
   display: block;
   width:300px;
   height: 300px;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 15px rgba(0,0,0,.2)
}

.card:hover {
   filter:alpha(opacity=70);
   -ms-filter: "alpha(opacity=70)";
   -moz-opacity:0.7;
   -khtml-opacity: 0.7;
   opacity:0.7;
   zoom:1;
}
 
 .card__imgframe{
   width: 100%;
   height: 200px;
   background:white;
   box-sizing: border-box;
 }
 
 .card__textbox{
   width: 100%;
   height: auto;
   padding: 20px 18px;
   background: #4DADA1;
   opacity:0.9;
   box-sizing: border-box;
 }
 
 .card__textbox > * + *{
   margin-top: 20px;
 }
 
 .card__titletext{
   font-size: 20px;
   font-weight: bold;
   line-height: 125%;
 }
 
 .card__overviewtext{
   font-size: 12px;
   line-height:150%;
 }

.footer{
    height: 70px;
    text-align: center;
    text-justify: auto;
    vertical-align: middle;
    background: linear-gradient(146deg, #ffbd00, #ef7122);
}

.btn-logout {
   background-color: transparent;
   border: none;
   color: #4b4b4b;
}